{
    "printWidth": 120,
    "proseWrap": "never",
    "arrowParens": "always",
    "endOfLine": "lf",
    "trailingComma": "es5",
    "tabWidth": 4,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["**/*.css", "**/*.html", "**/*.svg"],
            "options": {
                "singleQuote": false
            }
        }
    ],
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": [
        "react",
        "<BUILTIN_MODULES>",
        "<THIRD_PARTY_MODULES>",
        "<TYPES>",
        "<TYPES>^[.]",
        "^(@/context)(/.*)$",
        "^[.](/context)(/.*)$",
        "^(@/hooks)(/.*)$",
        "^[.](/hooks)(/.*)$",
        "@/constants",
        "^[.]/constants",
        "^(@/utils)(/.*)$",
        "^[.](/utils)(/.*)$",
        "^(@/components/layout)(/.*)$",
        "^(@/components)(/.*)$",
        "^[.](/components)(/.*)$",
        "(./App)",
        "^(@/icons)(/.*)$",
        "^[.](/.*).css$"
    ],
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
    "importOrderTypeScriptVersion": "5.0.0"
}
