.wrap {
    @apply grid grid-rows-[80px_1fr_80px] min-h-full;

    grid-template-areas:
        "header"
        "main"
        "footer";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}
